<!DOCTYPE html><!DOCTYPE html>
 <html><html>
     <head><head>
         <title><title>My Travel JournalMy Travel Journal</title></title>
     </head></head>
     <body><body>
         <h1><h1>Travel JournalTravel Journal</h1></h1>
         <h6><h6>January 1st, 2000January 1st, 2000</h6></h6>
         <p><p>
    In faucibus quis neque ut commodo.Nulla dolor sem, sagittis eget nunc sit amet, auctor scelerisque odio.Quisque ut condimentum est. Cras rutrum lorem purus, eu vehicula lectus pulvinar non.Mauris eleifend est ut justo elementum, sed lobortis nunc fermentum. Morbi posuere eu arcu sodales sollicitudin. Duis tristique ex elit, a vestibulum purus sagittis in.
         In faucibus quis neq </p>
  </body>
</html>